@import "reset.css";
@import "vavariables.css";

/*components*/
@import "components/status-bar.css";
@import "components/status-bar-header.css";
@import "components/kakao-nav.css";
@import "components/badge.css";

/*components-user*/
@import "components/user-main/user-main.css";
@import "components/user-main/user-main-channel.css";
@import "components/user-main/user-main-friends.css";
@import "components/no-mobile.css";

/*screens*/
@import "screens/welcome-header.css";
@import "screens/login-main.css";
@import "screens/display-bar.css";
@import "screens/chats-messege.css";
@import "screens/find-openchat.css";
@import "screens/more-style.css";
@import "screens/settings.css";

* {
  box-sizing: border-box;
}

body {
  height: 1000vh;
}

.first-body {
  background-color: #fffffd;
  background-size: cover;
  background-image: url("../img/kakao-poket-first01.jpg"),
    url("../img/kakao-poket-first02.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%, 10000% 100000%;
}

.friends-body {
  background-image: url("../img/kakao-poket-friends.jpg");
  background-repeat: no-repeat;
  background-position: 30% -15%;
  background-size: auto;
  background-color: #fffffd;
}

.chatting-body {
  background-color: #a0deed;
  height: 1000vh;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-setting {
  margin-top: 80px;
  animation: fadeIn 0.8s linear;
}

.chattings-time-stemp {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.chattings-time-stemp span {
  background-color: #92a4b2;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}

.main-setting-column {
  display: flex;
  align-items: flex-end;
}

.main-setting-column img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 10px;
}

.main-setting-name {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
}

.main-setting-add {
  display: flex;
  align-items: flex-end;
}

.main-setting-text {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.main-setting-time {
  opacity: 0.8;
  font-size: 14px;
}

.main-setting-column--own,
.main-setting-add--own {
  flex-direction: row-reverse;
}

.main-setting-column--own span:first-child {
  display: flex;
  justify-content: flex-end;
}

.main-setting-add--own .main-setting-text {
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 10px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
